.dc{
    height: 10%;
    width:10%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(5, 5, 5);
    
}
.dcb1{
    background-color: rgb(5, 5, 5);
}
/* .dch{
    margin-left: auto;
    margin-right: auto;
} */
.dcb{
    background-color: rgb(9, 9, 8);
}